{% extends 'base.html' %}
{% block body %}
{% load static %}
<div id="content" class="site-content">
    <div class="page-header flex-middle">
        <div class="container">
            <div class="inner flex-middle">
                <h1 class="page-title">Digital Marketing</h1>
                <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a href="/">Home</a></li>
                     <li><a href="https://cobaltzebra.com/service">Service</a></li>                          
                    <li class="active">Digital Marketing</li>
                </ul>    
            </div>
        </div>
    </div>

    <section class="app-offer">
        <div class="overlay overlay-image"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <img src="{% static 'assets/images/digital-agency.jpg' %}" alt="digital-agency">
                </div>
                <div class="col-lg-6 align-self-center">
                    
                        <div class="ot-heading">                                    
                            <h2 class="main-heading">Best Digital Marketing Services Company in Delhi, India</h2>
                             <span class="animate-border"></span>
                        </div>
                        
                        <p>We are thrilled to offer a comprehensive range of digital marketing services designed to help businesses thrive in the online landscape. Our team of digital marketing experts is committed to delivering exceptional results by implementing effective strategies and leveraging the latest industry trends. Here are some highlights of our best digital marketing services:</p>
                        <p>At our core, we prioritize understanding your business goals and tailoring our digital marketing strategies to meet your unique needs. Whether you're looking to increase website traffic, generate leads, or improve brand visibility, our digital marketing services are designed to drive results and help you achieve online success.</p>
                  
                </div>
            </div>
        </div>
    </section>

<section class="app-section">
<div class="container">
  <div class="ot-heading text-center mb-4">
                          <h2 class="main-heading animate-text">Our Specialized Digital Marketing Services</h2>
                         <!--    <span class="animate-border"></span> -->
                        </div>
   <div class="row">
       <div class="col-lg-4 col-md-4">
           <div class="ui-ux-sec brdr-1 text-center">
            <img src="{% static 'assets/images/google-ads.png' %}" alt="google-ads">
            <h2>Google Ads<br>(SEM)</h2>
            <a href="contact" class="enq-now btn mb-4">Enquire Now</a>
            
           </div>
       </div>
       <div class="col-lg-4 col-md-4">
           <div class="ui-ux-sec text-center brdr-4">
            <img src="{% static 'assets/images/smo-cz.png' %}" alt="smo-cz">
            <h2>Social Media Marketing<br>(Creative & Ad expenditure paid by clients )</h2>
            <a href="contact" class="enq-now btn mb-4">Enquire Now</a>                 
              
           </div>
       </div>

       <div class="col-lg-4 col-md-4">
           <div class="ui-ux-sec text-center brdr-2">
            <img src="{% static 'assets/images/seo-cz.png' %}" alt="seo-cz">
            <h2>Search Engine Optimisation<br>(SEO)</h2>  
            <a href="contact" class="enq-now btn mb-4">Enquire Now</a>                
              
           </div>
       </div>
                     
   </div>
</div> 
</section>
  

    <section class="app-projects">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="ot-heading mb-0">
                        <h2 class="main-heading">Our Work</h2>
                    </div>
                </div>
                <div class="col-md-9 align-self-end">
                    <p class="mb-0">We offer high level Mobile and tablet application advancement Services and our team of developers, graphic designers and ease of use specialists ensures that your application .</p>
                </div>
            </div>
        </div>
        <div class="space-40"></div>
        <div class="container-fluid">
              <div class="row">
                <div class="owl-carousel owl-theme project-slider">
                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="https://apk.levelup11.com/app/levelup11.apk">
                                    <img src="{% static 'assets/images/projects/level-app.jpg' %}" class="" alt="level-app">                         
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="#"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="https://apk.levelup11.com/app/levelup11.apk">Fantacy Sports App</a></h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="https://www.levelup11.com/">
                                    <img src="{% static 'assets/images/projects/levelupspoerts.jpg' %}" class="" alt="levelupspoerts">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="https://www.levelup11.com/"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="https://www.levelup11.com/">Fantacy Sports</a></h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="https://www.myfirstboss.com/">
                                    <img src="{% static 'assets/images/projects/mfb-job.jpg' %}" class="" alt="mfb-job">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="https://www.myfirstboss.com/"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="https://www.myfirstboss.com/">Job </a></h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="https://www.wireallyesports.com/">
                                    <img src="{% static 'assets/images/projects/wirellyy-esports.jpg' %}" class="" alt="wirellyy-esports">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="https://www.wireallyesports.com/"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="https://www.wireallyesports.com/">Fantacy Sports </a></h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="https://www.websky.co.in/">
                                    <img src="{% static 'assets/images/projects/cz-websky.jpg' %}" class="" alt="cz-websky">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="https://www.websky.co.in/"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="https://www.websky.co.in/">Corporate     </a></h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>


                     <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="https://www.12thkhiladi.com/">
                                    <img src="{% static 'assets/images/projects/12thkhiladii.jpg' %}" class="" alt="12thkhiladii">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="https://www.12thkhiladi.com/"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="https://www.12thkhiladi.com/">Fantacy Sports</a></h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="#">
                                    <img src="{% static 'assets/images/projects/ecommerce.jpg' %}" class="" alt="ecommerce">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="#"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="#">Ecommerce App</a></h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="#">
                                    <img src="{% static 'assets/images/projects/edu-app.jpg' %}" class="" alt="edu-app">                         
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="#"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="#">Education App Development</a></h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>       

                         <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="#">
                                    <img src="{% static 'assets/images/projects/fmcg-app.jpg' %}" class="" alt="fmcg-app">                         
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="#"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="#">Hotels Restaurants App Development</a></h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>                                                  
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="app-industris">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="s-counter4">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-4 mb-lg-0">
                                <div class="ot-counter text-white">
                                    <div>
                                        <span class="num" data-to="330" data-time="2000">0</span>
                                        <span>+</span>
                                    </div>
                                    <h6 class="text-white">active Clients</h6>                             
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-4 mb-lg-0">
                                <div class="ot-counter text-white">
                                    <div>
                                        <span class="num" data-to="850" data-time="2000">0</span>
                                        <span>+</span>
                                    </div>
                                    <h6 class="text-white">projects done</h6>                              
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-4 mb-sm-0">
                                <div class="ot-counter text-white">
                                    <div>
                                        <span class="num" data-to="25" data-time="2000">0</span>
                                        <span>+</span>
                                    </div>
                                    <h6 class="text-white">team advisors</h6>                              
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                                <div class="ot-counter text-white">
                                    <div>
                                        <span class="num" data-to="10" data-time="2000">0</span>
                                        <span>+</span>
                                    </div>
                                    <h6 class="text-white">Glorious Years</h6>                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}