{% load static %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns?id=GTM-K3Z7HPT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="float-div">
<ul>
<li><a href="#"><i class="fa fa-envelope"></i><span> info@cobaltzebra.com</span></a></li>
<li><a href="https://wa.me/9891805739?text=hi" class="tele" target="_blank"><i class="fa fa-whatsapp"></i><span> 9891805739</span></a></li>
<li><a href="tel:919818129128" class="tele" target="_blank"><i class="fa fa-phone"></i><span>9818129128</span></a></li>
<li><a href="#" class="aa"><i class="fa fa-map-marker"></i><span>501, 5th Floor, Northex GDITL Tower, A-9, Netaji Subash Place, Pitam Pura, Delhi-110034</span></a></li>
</ul>
      </div>
    <div id="page" class="site">
        <header id="site-header" class="site-header sticky-header header-static">
            <!-- Main Header start -->
            <div class="header-topbar style-2">
                <div class="octf-area-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="social-list">
                                    <li><a href="http://twitter.com" target="_self"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/cobaltzebra/" target="_self"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://in.linkedin.com/company/cobalt-zebra-info-technologies" target="_self"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://www.instagram.com/cobalt_zebra/" target="_self"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <ul class="topbar-info align-self-end clearfix">
                                    <li><a href="tel:91-9818129128"><i class="fas fa-phone-alt"></i> 91-9818129128</a></li>
                                    <li><a href="mailto:info@cobaltzebra.com"><i class="fas fa-envelope"></i> info@cobaltzebra.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="octf-main-header">
                <div class="octf-area-wrap">
                    <div class="container octf-mainbar-container">
                        <div class="octf-mainbar">
                            <div class="octf-mainbar-row octf-row">
                                <div class="octf-col logo-col">
                                    <div id="site-logo" class="site-logo">
                                        <a href="/">
                                            <img src="{% static 'assets/images/cz-logo.png' %}" alt="Cobaltzabra" class="">
                                        </a>
                                    </div>
                                </div>
                                <div class="octf-col menu-col">
                                <nav id="site-navigation" class="main-navigation">
                                <ul class="menu">
                                <li><a href="/">Home</a></li>
                                    <li><a href="/about-us">About us</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="/services">Services</a>
                                <ul class="sub-menu">
                                    <li><a href="/web-development">Web Development</a></li>
                                    <li><a href="/mobile-app-development">Mobile App Development</a></li>
                                    <li><a href="/ui-ux-design">UI/UX Design</a></li>
                                    <li><a href="/digital-marketing">Digital Marketing</a></li>
                                    <li><a href="/ott-campaigns">OTT Campaigns</a></li>
                                    <li><a href="https://myfirstboss.com/" target="_blank">HR Consultancy</a></li>
                                </ul>
                                </li>
                                <li><a href="/portfollio">Portfollio</a></li>
                                     <!-- <li><a href="career">Career</a></li> -->
                                           
                                            <li><a href="/blog">Blog</a>                                             
                                            </li>
                                            <li><a href="/contact">Contacts</a></li>
                                        </ul>
                                        
                                    </nav>
                                </div>
                                

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_mobile">
                <div class="container">
                    <div class="mlogo_wrapper clearfix">
                        <div class="mobile_logo">
                            <a href="">
                                <img src="{% static '/assets/images/cz-logo.png' %}" alt="cobaltzebra">
                            </a>
                        </div>
                        <div id="mmenu_toggle">
                            <button></button>
                        </div>
                    </div>
                    <div class="mmenu_wrapper">
                        <div class="mobile_nav collapse">
                            <ul id="menu-main-menu" class="mobile_mainmenu">
                              <li>
                                     <a href="">Home</a>   
                                            </li>
                                            <li><a href="about-us">About us</a></li>
                                           
                                             <li class="menu-item-has-children"><a href="service">Services</a>
                                                <ul class="sub-menu">
                                                    <li><a href="web-development">Web Development</a></li>
                                                    <li><a href="mobile-app-development">Mobile App Development</a></li>
                                                    <li><a href="ui-ux-design">UI/UX Design</a></li>
                                                     <li><a href="digital-marketing">Digital Marketing</a></li>
                                                      <li><a href="ott-campaign">OTT Campaigns</a></li>
                                                        <li><a href="https://myfirstboss.com/" target="_blank">HR Consultancy</a></li>
                                                </ul>
                                            </li>
                                           
                                           

                                              <li><a href="portfollio">Portfollio</a></li>

                                               <!-- <li><a href="career">Career</a></li> -->
                                           
                                            <li><a href="blog">Blog</a>                                             
                                            </li>
                                            <li><a href="contact">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>