{% extends 'base.html' %}
{% block body %}
{% load static %}
<div id="content" class="site-content">
    <div class="page-header flex-middle">
        <div class="container">
            <div class="inner flex-middle">
                <h1 class="page-title">Mobile Development</h1>
                <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a href="/">Home</a></li>
                     <li><a href="https://cobaltzebra.com/service">Service</a></li>                          
                    <li class="active">Mobile Development</li>
                </ul>    
            </div>
        </div>
    </div>

    <section class="app-offer">
        <div class="overlay overlay-image"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <img src="{% static 'assets/images/cobalt-zebra-app.jpg' %}" alt="cobalt-zebra-app">
                </div>
                <div class="col-lg-6 align-self-center">
                    
                        <div class="ot-heading">                                    
                            <h2 class="main-heading">We have developed expertise in developing wide range of mobile and tablet applications</h2>
                        </div>
                        
                        <p>That's great to hear! Developing expertise in mobile and tablet application development opens up opportunities to create innovative and impactful solutions for a wide range of users. With the increasing reliance on mobile devices, having the ability to develop mobile and tablet applications can be highly valuable.</p>
                   <p>It would be helpful to have more information about the specific areas or platforms in which you have developed expertise. This could include the mobile operating systems (iOS, Android, or both), programming languages, frameworks, or industries you have focused on.</p>
                </div>
            </div>
        </div>
    </section>

<section class="app-section">
<div class="container">
   <div class="row">
       <div class="col-lg-4 col-md-4">
           <div class="app-catg brdr-1">
            <img src="{% static 'assets/images/mb-app-cz.png' %}" alt="mobile app development">
            <h2>Native App Development</h2>
            <p>Native app development refers to the process of building mobile applications specifically for a particular operating system using its native programming languages and development tools. It involves creating separate codebases for each platform, such as iOS and Android.</p>
               <ul>
                   <li>Platform-specific Languages</li>
                   <li>Platform-specific IDEs</li>
                   <li>Access to Native APIs and Features</li>
                   <li>Performance and User Experience</li>
                   <li>Platform-specific UI Design</li>
                   <li>App Store Deployment</li>
            
               </ul>
           </div>
       </div>
       <div class="col-lg-4 col-md-4">
           <div class="app-catg brdr-2">
            <img src="{% static 'assets/images/mb-ui-cz.png' %}" alt="Mobile UI Design">
            <h2>Mobile UI Design</h2>
            <p>Native app development refers to the process of building mobile applications specifically for a particular operating system using its native programming languages and development tools. It involves creating separate codebases for each platform, such as iOS and Android.</p>
               <ul>
                   <li>Platform-specific Languages</li>
                   <li>Platform-specific IDEs</li>
                   <li>Access to Native APIs and Features</li>
                   <li>Performance and User Experience</li>
                   <li>Platform-specific UI Design</li>
                   <li>App Store Deployment</li>
            
               </ul>
           </div>
       </div>
       <div class="col-lg-4 col-md-4">
           <div class="app-catg brdr-3">
            <img src="{% static 'assets/images/hy-app-cz.png'%}" alt="Hybrid App Development">
            <h2>Hybrid App Development</h2>
            <p>Hybrid app development refers to the process of creating mobile applications that combine elements of both native and web technologies. It involves using web technologies such as HTML, CSS, and JavaScript to build a single codebase that can run on multiple platforms.</p>
               <ul>
                   <li>Cross-platform Compatibility</li>
                   <li>Web Technologies</li>
                   <li>Hybrid Frameworks</li>
                   <li>Native-like User Interface</li>
                   <li>Access to Device Features</li>
                   <li>Code Reusability</li>
                   


            
               </ul>
           </div>
       </div>
   </div>
</div> 
</section>
  

    <section class="app-projects">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="ot-heading mb-0">
                        <h2 class="main-heading">Our Projects</h2>
                    </div>
                </div>
                <div class="col-md-9 align-self-end">
                    <p class="mb-0">We offer high level Mobile and tablet application advancement Services and our team of developers, graphic designers and ease of use specialists ensures that your application .</p>
                </div>
            </div>
        </div>
        <div class="space-40"></div>
        <div class="container-fluid">
            <div class="row" >
                
                <div class="owl-carousel owl-theme project-slider">
                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="https://apk.levelup11.com/app/levelup11.apk">
                                    <img src="{% static 'assets/images/projects/level-app.jpg' %}" class="" alt="level-app">                         
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="htportfolio-details-1.html"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="https://apk.levelup11.com/app/levelup11.apk">Fantacy Sports App</a></h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="#">
                                    <img src="{% static 'assets/images/projects/ecommerce.jpg' %}" class="" alt="ecommerce">
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="#"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="#">Ecommerce App</a></h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="#">
                                    <img src="{% static 'assets/images/projects/edu-app.jpg'%}" class="" alt="edu-app">                         
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="#"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="portfolio-details-1.html">Education App Development</a></h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>       

                         <div class="project-item projects-style-2">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="#">
                                    <img src="{% static 'assets/images/projects/fmcg-app.jpg'%}" class="" alt="fmcg-app">                         
                                    <span class="overlay"></span>
                                </a>
                            </div>
                            <div class="portfolio-info ">
                                <div class="portfolio-info-inner">
                                    <a class="btn-link" href="#"><i class="flaticon-right-arrow-1"></i></a>
                                    <h5><a href="portfolio-details-1.html">Hotels Restaurants App Development</a></h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>                                                  
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="app-industris">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="s-counter4">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-4 mb-lg-0">
                                <div class="ot-counter text-white">
                                    <div>
                                        <span class="num" data-to="330" data-time="2000">0</span>
                                        <span>+</span>
                                    </div>
                                    <h6 class="text-white">active Clients</h6>                             
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-4 mb-lg-0">
                                <div class="ot-counter text-white">
                                    <div>
                                        <span class="num" data-to="850" data-time="2000">0</span>
                                        <span>+</span>
                                    </div>
                                    <h6 class="text-white">projects done</h6>                              
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 text-center mb-4 mb-sm-0">
                                <div class="ot-counter text-white">
                                    <div>
                                        <span class="num" data-to="25" data-time="2000">0</span>
                                        <span>+</span>
                                    </div>
                                    <h6 class="text-white">team advisors</h6>                              
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                                <div class="ot-counter text-white">
                                    <div>
                                        <span class="num" data-to="10" data-time="2000">0</span>
                                        <span>+</span>
                                    </div>
                                    <h6 class="text-white">Glorious Years</h6>                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
       
    </section>

</div>

{% endblock %}