{% extends 'base.html' %}
{% block body %}
{% load static %}
<div id="content" class="site-content">
    <div class="page-header flex-middle">
        <div class="container">
            <div class="inner flex-middle">
                <h1 class="page-title">OTT Campaigns</h1>
                <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a href="/">Home</a></li>
                   
                    <li class="active">OTT Campaigns</li>
                </ul>    
            </div>
        </div>
    </div>
   
   <section>
    <h1 class="text-center">Comeing Soon..</h1>
</section>

{% endblock %}