{% extends 'base.html' %}
{% block body %}
{% load static %}
<div id="content" class="site-content" >
    <div class="page-header flex-middle">
        <div class="container">
            <div class="inner flex-middle">
                <h1 class="page-title">Services</h1>
                <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a href="">Home</a></li>
                    <li class="active">Services</li>
                </ul>    
            </div>
        </div>
    </div>
   
 
<section class="about-v4">
        <div class="overlay overlay-image"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-4 mb-lg-0 d-flex align-items-center">
                    <div class="left-about-v4"> 
                        <img src="{% static 'assets/images/services-cz.jpg' %}" alt="services-cz">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="right-about-v4">
                        <div class="ot-heading">
                          <h1 class="main-heading">Services</h1>
                            <span class="animate-border"></span>
                        </div>
                        <div class="space-5"></div>
                        <p>A Cobalt Zebra <a href="https://cobaltzebra.com/">web development company in India</a> refers to a company that specializes in providing services related to the design, development, and maintenance of websites and web applications. These companies employ skilled professionals who are proficient in various web technologies and frameworks to create functional and visually appealing websites. They cater to a wide range of clients, including businesses, organizations, startups, and individuals, helping them establish a strong online presence and achieve their digital goals. Web development companies in India offer services such as web design, front-end and back-end development, e-commerce solutions, CMS customization, mobile responsiveness, database integration, and web maintenance.</p>                                                 
                         
                                           </div>
            </div>
        </div>
    </section>


<section class="service-v4" style="background:#5991c22b">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-4 mx-auto text-center">
                    <div class="ot-heading">
                       <p class="main-heading text-dark"><strong>These companies strive to deliver high-quality websites that are user-friendly, optimized for search engines, and aligned with the clients' specific requirements and objectives.</strong></p>
                    </div>
                    <div class="space-20"></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">     
                        <div class="content-box">
                            <div class="icon-box-s2 s2">
                        <div class="icon-main"><span class="web-code"></span></div>
                        <div class="content-box">
                            <h5>Web Development</h5>
                            <p>Web development is the process of creating, designing, building, and maintaining websites and web applications for the Internet</p>
                            <p class="service-prg">Our Web Development Services</p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul class="list-1">
                                        <li>Web Design</li>
                                        <li>Front-end Development</li>
                                        <li>Back-end Development</li>
                                        <li>Full-Stack Development</li>
                                        <li>E-commerce Development</li>
                                        </ul></div>
                                <div class="col-lg-6 col-md-6">
                                  <ul class="list-1">
                                        <li>Content Management Systems (CMS)</li>
                                        <li>Web Application Development</li>
                                        <li>Mobile-Responsive Development</li>
                                        <li>Testing and Quality Assurance</li>
                                        <li>Website Maintenance and Support</li>
                                        </ul>
                                </div>
                            </div>
                          <a href="web-development" class="rd-more">Read More</a>
                        </div>
                    </div>                                                                  
                   
                </div>
               
            </div>

             <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">     
                        <div class="content-box">
                            <div class="icon-box-s2 s2">
                        <div class="icon-main"><span class="mob-code"></span></div>
                        <div class="content-box">
                            <h5>Mobile Development</h5>
                            <p>Mobile app development is the process of creating software applications that run on mobile devices, such as smartphones, tablets.</p>

                            <p class="service-prg">Our Mobile Development Services</p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul class="list-1">
                                        <li>Mobile App Design</li>
                                        <li>Native App Development</li>
                                        <li>Cross-Platform App Development</li>
                                        <li>Hybrid App Development</li>
                                        <li>Mobile App Backend Development</li>
                                        </ul></div>
                                <div class="col-lg-6 col-md-6">
                                  <ul class="list-1">
                                        <li>Mobile App Testing and Quality Assurance</li>
                                        <li>App Store Deployment</li>
                                        <li>App Maintenance and Support</li>
                                        <li>Mobile App Performance Optimization</li>
                                       
                                        </ul>
                                </div>
                            </div>
                              <a href="mobile-development" class="rd-more">Read More</a>
                        </div>
                    </div>
                                                           
                   
                </div>
               
            </div>

             <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">     
                        <div class="content-box">
                            <div class="icon-box-s2 s2">
                        <div class="icon-main"><span class="d-code"></span></div>
                        <div class="content-box">
                            <h5>UI/UX Design</h5>
                            <p>UI/UX design refers to the process of creating user interfaces and user experiences for digital products, such as websites, mobile apps.</p>
                             <p class="service-prg">Our UI/UX Design Services</p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul class="list-1">
                                        <li>User Research</li>
                                        <li>User Experience (UX) Design</li>
                                        <li>User Interface (UI) Design</li>
                                        <li>Interaction Design</li>
                                        <li>Responsive Design</li>
                                        </ul></div>
                                <div class="col-lg-6 col-md-6">
                                  <ul class="list-1">
                                        <li>Usability Testing</li>
                                        <li>Accessibility Design</li>
                                        <li>Prototyping</li>
                                        <li>Iterative Design Process</li>
                                       
                                        </ul>
                                </div>
                            </div>
                             <a href="website-designing" class="rd-more">Read More</a>
                        </div>
                    </div>
                                                           
                   
                </div>
               
            </div>

             <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">     
                        <div class="content-box">
                            <div class="icon-box-s2 s2">
                        <div class="icon-main"><span class="dg-code"></span></div>
                        <div class="content-box">
                            <h5>Digital Marketing</h5>
                            <p>Digital marketing refers to the use of digital channels, such as search engines, social media, email, and mobile apps, to promote products. </p>

                              <p class="service-prg">Our Digital Marketing Services</p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul class="list-1">
                                        <li>Search Engine Optimization (SEO)</li>
                                        <li>Pay-Per-Click Advertising (PPC)</li>
                                        <li>Social Media Marketing</li>
                                        <li>Content Marketing</li>
                                        <li>Email Marketing</li>
                                        </ul></div>
                                <div class="col-lg-6 col-md-6">
                                  <ul class="list-1">
                                        <li>Conversion Rate Optimization (CRO)</li>
                                        <li>Influencer Marketing</li>
                                       <!--  <li>Online Reputation Management</li> -->
                                        <li>Analytics and Reporting</li>
                                       <li>Digital Strategy and Consulting</li>
                                        </ul>
                                </div>
                            </div>
                              <a href="digital-marketin" class="rd-more">Read More</a>
                        </div>
                    </div>
                                                           
                   
                </div>
               
            </div>

             <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">     
                        <div class="content-box">
                            <div class="icon-box-s2 s2">
                        <div class="icon-main"><span class="ott-comp"></span></div>
                        <div class="content-box">
                            <h5>OTT Campaigns</h5>
                            <p>OTT (over-the-top) campaigns refer to advertising campaigns that are delivered through OTT platforms, such as streaming services like Netflix, Hulu</p>
                             <p class="service-prg">Our OTT Campaigns Services</p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul class="list-1">
                                        <li>Ad Placement and Targeting</li>
                                        <li>Content Integration</li>
                                        <li>Creative Development</li>
                                        <li>Campaign Management</li>
                                        <li>Measurement and Analytics</li>
                                        </ul></div>
                                <div class="col-lg-6 col-md-6">
                                  <ul class="list-1">
                                        <li>Retargeting and Audience Segmentation</li>
                                        <li>Cross-Channel Integration</li>
                                        <li>A/B Testing and Optimization</li>
                                        <li>Reporting and Insights</li>
                                     
                                        </ul>
                                </div>
                            </div>
                              <a href="ott-compaigns" class="rd-more">Read More</a>
                        </div>
                    </div>
                                                           
                   
                </div>
               
            </div>

             <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">     
                        <div class="content-box">
                            <div class="icon-box-s2 s2">
                        <div class="icon-main"><span class="hr-const"></span></div>
                        <div class="content-box">
                            <h5>HR Consultancy</h5>
                            <p>HR consultancy refers to the services provided by human resources experts to organizations in order to help them manage their workforce more.</p>
                              <p class="service-prg">Our HR Consultancy Services</p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul class="list-1">
                                        <li>HR Strategy and Planning</li>
                                        <li>Talent Acquisition Performance ManagementCreative Development</li>
                                        <li>Compensation and Benefits</li>
                                      <!--   <li>Employee Engagement and Retention</li> -->
                                        </ul></div>
                                <div class="col-lg-6 col-md-6">
                                  <ul class="list-1">
                                        <li>Training and Development</li>
                                        <li>HR Policies and Compliance</li>
                                        <li>Employee Relations</li>
                                        <li>HR Technology and Systems</li>
                                         <!-- <li>HR Audits and Compliance Reviews</li> -->
                                        </ul>
                                </div>
                            </div>
                              <a href="hr-consultancy" class="rd-more">Read More</a>
                        </div>
                    </div>
                                                           
                   
                </div>
               
            </div>

                             </div>
    </section>



    <section class="section-consultation">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Would you like to start a project with us?</h2>
                    <p>Web development services involve creating and maintaining websites. They include tasks such as website design, front-end and back-end development, CMS development, e-commerce development, responsive web design, website maintenance and support, SEO and digital marketing, and custom web application development.</p>
<p class="pb-4">These services are provided by professionals who specialize in various aspects of web development to create functional, visually appealing, and user-friendly websites that meet the specific needs of businesses and individuals.</p>
                    
                    <div class="ot-button">
                        <a href="contact" class="octf-btn octf-btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-clients bg-map-dots" style="padding-bottom: 17px;padding-top: 54px;"> 
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ot-heading text-center">
                       <h2 class="main-heading">What Our Client's Says ?</h2>
                       <span class="animate-border"></span>
                    </div>
                </div>
            </div>
            <div class="space-35"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="ot-testimonials">
                        <div class="owl-carousel owl-theme testimonial-inner ot-testimonials-slider">
                            <div class="testi-item">
                                <div class="layer1"></div>
                                <div class="layer2">
                                    <div class="t-head flex-middle">
                                        <img src=" {% static 'assets/images/testi1.png' %}" alt="Emilia Clarke" class="lazyloaded" data-ll-status="loaded">
                                            <div class="tinfo">
                                                <h6>Syed Akhtar</h6>
                                                <span>India</span>                             
                                            </div>
                                    </div>
                                    <div class="ttext">
                                        "Great Work! Very Pleased with Work! Will hire again for more ON PAGE SEO jobs.Thanks again! A+++"                        
                                    </div>
                                </div>
                            </div>
                            <div class="testi-item">
                                <div class="layer1"></div>
                                <div class="layer2">
                                    <div class="t-head flex-middle">
                                        <img src=" {% static 'assets/images/testi1.png' %}" alt="Emilia Clarke" class="lazyloaded" data-ll-status="loaded">
                                            <div class="tinfo">
                                                <h6>Don L Beebe,</h6>
                                                <span>Canada</span>                             
                                            </div>
                                    </div>
                                    <div class="ttext">
                                        "They created an awesome online marketing strategy that drove the quality traffic to our website with very good serps. I am really happy with their services and agile marketing strategy. Highly recommend."                           
                                    </div>
                                </div>
                            </div>
                            <div class="testi-item">
                                <div class="layer1"></div>
                                <div class="layer2">
                                    <div class="t-head flex-middle">
                                        <img src=" {% static 'assets/images/testi1.png' %}" alt="Emilia Clarke" class="lazyloaded" data-ll-status="loaded">
                                            <div class="tinfo">
                                                <h6>Harold Crow,</h6>
                                                <span>Maxico</span>                             
                                            </div>
                                    </div>
                                    <div class="ttext">
                                        "They have managed our all digital marketing related projects, And got us some good results."                           
                                    </div>
                                </div>
                            </div>
                            <div class="testi-item">
                                <div class="layer1"></div>
                                <div class="layer2">
                                    <div class="t-head flex-middle">
                                        <img src=" {% static 'assets/images/testi1.png' %}" alt="Emilia Clarke" class="lazyloaded" data-ll-status="loaded">
                                            <div class="tinfo">
                                                <h6>Moonkle LTD,</h6>
                                                <span>Client of Company</span>                             
                                            </div>
                                    </div>
                                    <div class="ttext">
                                        "Very well thought out and articulate communication. Clear milestones, deadlines and fast work. Patience. Infinite patience. No shortcuts. Even if the client is being careless. The best part...always solving problems with great original ideas!."                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}