{% load static %}
<footer>
    <div class="cantainer-fluid bg-dark" style="position: relative;">
        <div class="container pt-4 pb-2">
            <div class="row gx-0">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="footer-col-1">
                        <img src="{% static 'images/DarkLogo.png' %}" alt="footerlogo" />
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-12">
                    <div class="footer-col-22">
                        <div class="footer-col-2">
                            <a href="/about-us">About us</a>
                            <a href="#">Contact Us</a>
                            <a href="#">Careers</a>
                            <a href="#">Advertise With Us</a>
                            <a href="#">Write For Us</a>
                            <a href="#">Disclaimer</a>
                        </div>
                        <div class="app-container">
                            <img src="{% static 'images/appbtn.png' %}" alt="app" />
                            <img src="{% static 'images/googlebtn.png' %}" alt="app" />
                        </div>
                    </div>
                </div>

                <div class="row pt-3 gx-0" style="border-top: 1px solid rgb(169, 169, 169);">
                    <div class="col-lg-6 col-12"><p class="copy-right">©12thkhiladi 2023. All Rights Reserved</p></div>
                    <div class="col-lg-6 col-12">
                        <div class="tcp"><a class="" href="/terms">Terms &amp; Conditions</a><a class="" href="/privacy">Privacy Policy</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/dklight.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>