<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>12th Khilad</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <link rel="stylesheet" type="text/css" href="css/dklght.css" />
        <link rel="shortcut icon" href="favicon.ico" type="image/ico" />
    </head>
    <body>
        <!-- start darkmode -->
        <section class="bg-drmmode">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-lg-end justify-content-end align-items-lg-center align-items-center py-1 lg-px-5">
                        <input type="checkbox" class="checkbox" id="checkbox" />
                        <label for="checkbox" class="checkbox-label">
                            <i class="fas fa-moon"></i>
                            <i class="fas fa-sun"></i>
                            <span class="ball"></span>
                        </label>
                        <button type="button" class="bg-btn border-2 btn"><a class="" href="login.html">Login</a></button>
                    </div>
                </div>
            </div>
        </section>
        <!-- end darkmode -->

        <div class="support">
            <!-- Start Nav bar -->
            <div class="container-fluid">
                <div class="nav-container">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="index.html"><img src="logo/DarkLogo.svg" alt="logo" /></a>
                            <a class="navbar-brand-1" href="index.html"><img src="logo/LightLogo.svg" alt="logo" style="display: none;" /></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon">
                                    <i class="fas fa-bars"></i>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarScroll">
                                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">CRICKET</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">FOOTBALL</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">HORSE RACING</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">ESPORTS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">FANTASY</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">PREDICTIONS</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">VIDEO</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                            <li><a class="dropdown-item" href="#">Cricket</a></li>
                                            <li><a class="dropdown-item" href="#">Football</a></li>
                                            <li><a class="dropdown-item" href="#">Other Sports</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">MORE</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                            <li><a class="dropdown-item" href="#">Trending News</a></li>
                                            <li><a class="dropdown-item" href="#">Latest News</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-btn d-flex">
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-search fa-2x icn-serch"></i></button>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- End nav bar -->

            <div class="container-fluid mt-4">
                <div class="ad-banner">
                    <a href="https://beardo.in/?utm_source=alliance&utm_medium=12thkhiladi">
                        <img src="images/ad-banner.jpg" alt="banner" />
                    </a>
                </div>
            </div>
        </div>

        <!-- content body -->
        <section class="contant-body">
            <div class="wrap-container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-12">
                        <div class="banner-img">
                            <img src="images/header-banner-news.jpg" alt="news" />
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>

                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-list mt-3">
                            <div class="row">
                                <a href="#" class="post-box">
                                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-center">
                                        <div class="blog-img">
                                            <img src="images/horseracing.jpg" alt="horseracing" width="185" height="130" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-6">
                                        <div class="blog-text">
                                            <h2>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous feat</h2>
                                            <p>Only Dhoni could have done this miracle'- Srinivasan hails MS Dhoni's miraculous featOnly Dhoni...</p>
                                            <div class="date-time">
                                                <span><i class="fas fa-calendar-alt"></i> Jun 19, 2023</span> <span> <i class="fas fa-clock"></i> 3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="pagination-container mt-3">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-12">
                        <h2 class="h2-title">LATEST NEWS</h2>
                        <div class="box-caontainer">
                            <a class="link-text" href="#">
                                <h5 class="h5-title">Liverpool appoints Jorg Schmadtke as sporting director</h5>
                                <span>an hour ago</span>
                            </a>
                        </div>
                        <div class="box-caontainer">
                            <a class="link-text" href="#">
                                <h5 class="h5-title">Liverpool appoints Jorg Schmadtke as sporting director</h5>
                                <span>an hour ago</span>
                            </a>
                        </div>

                        <div class="box-caontainer">
                            <a class="link-text" href="#">
                                <h5 class="h5-title">Liverpool appoints Jorg Schmadtke as sporting director</h5>
                                <span>an hour ago</span>
                            </a>
                        </div>

                        <div class="box-caontainer">
                            <a class="link-text" href="#">
                                <h5 class="h5-title">Liverpool appoints Jorg Schmadtke as sporting director</h5>
                                <span>an hour ago</span>
                            </a>
                        </div>
                        <div class="mns-box">
                            <a href="latest-news.html" class="more-news">More News..</a>
                        </div>

                        <div class="advertise-box">
                            <a href="https://vijohnkart.com/"><img src="images/vijohn.jpg" alt="vi-john" style="max-width: 100%; width: auto;" /> </a>
                        </div>

                        <div class="feature-vbox py-3">
                            <h2 class="h2-title">FEATURED VIDEOS</h2>
                            <div class="img-video" style="position: relative;">
                                <a class="img-text-link" href="#">
                                    <img src="images/fv-1.jpg" alt="img1-vedio" />
                                    <button class="ply-video"><i class="fp-prev"></i></button>
                                    <p>IPL 2023 - Prithvi Shaw's IPL Dilemma: Is It Time to Part Ways with Delhi Capitals?</p>
                                    <span>May 31, 2023 12:53 PM</span>
                                </a>
                            </div>
                            <div class="img-video" style="position: relative;">
                                <a class="img-text-link" href="#">
                                    <img src="images/fv-1.jpg" alt="img1-vedio" />
                                    <button class="ply-video"><i class="fp-prev"></i></button>
                                    <p>IPL 2023 - Prithvi Shaw's IPL Dilemma: Is It Time to Part Ways with Delhi Capitals?</p>
                                    <span>May 31, 2023 12:53 PM</span>
                                </a>
                            </div>

                            <div class="img-video" style="position: relative;">
                                <a class="img-text-link" href="#">
                                    <img src="images/fv-1.jpg" alt="img1-vedio" />
                                    <button class="ply-video"><i class="fp-prev"></i></button>
                                    <p>IPL 2023 - Prithvi Shaw's IPL Dilemma: Is It Time to Part Ways with Delhi Capitals?</p>
                                    <span>May 31, 2023 12:53 PM</span>
                                </a>
                            </div>
                        </div>

                        <div class="advertise-box" style="position: sticky; top: 0;">
                            <a href="https://levelup11.com/">
                                <img src="images/levelup-img.jpg" alt="levelup-img" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row height d-flex justify-content-center align-items-center">
                            <div class="col-md-12">
                                <div class="search-bar">
                                    <div class="search">
                                        <i class="fa fa-search"></i>
                                        <input type="text" class="form-control" placeholder="Search for player,Series,Team,News or video." />
                                        <button class="btn">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <h2 class="fs-14 pb-2">News</h2>
                            <div class="col-lg-3 col-md-3 col-6 mb-4">
                                <div class="search-list">
                                    <a href="#">
                                        <img src="images/newss.png" alt="img" />
                                        <h2>Bazball: The Bold Reinvention of Test Cricket</h2>
                                        <p><i class="fas fa-calendar-alt"></i> Jun 20, 2023 11:12 AM</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6 mb-4">
                                <div class="search-list">
                                    <a href="#">
                                        <img src="images/newss.png" alt="img" />
                                        <h2>Bazball: The Bold Reinvention of Test Cricket</h2>
                                        <p><i class="fas fa-calendar-alt"></i> Jun 20, 2023 11:12 AM</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-6 mb-4">
                                <div class="search-list">
                                    <a href="#">
                                        <img src="images/newss.png" alt="img" />
                                        <h2>Bazball: The Bold Reinvention of Test Cricket</h2>
                                        <p><i class="fas fa-calendar-alt"></i> Jun 20, 2023 11:12 AM</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-6 mb-4">
                                <div class="search-list">
                                    <a href="#">
                                        <img src="images/newss.png" alt="img" />
                                        <h2>Bazball: The Bold Reinvention of Test Cricket</h2>
                                        <p><i class="fas fa-calendar-alt"></i> Jun 20, 2023 11:12 AM</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-6 mb-4">
                                <div class="search-list">
                                    <a href="#">
                                        <img src="images/newss.png" alt="img" />
                                        <h2>Bazball: The Bold Reinvention of Test Cricket</h2>
                                        <p><i class="fas fa-calendar-alt"></i> Jun 20, 2023 11:12 AM</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-6 mb-4">
                                <div class="search-list">
                                    <a href="#">
                                        <img src="images/newss.png" alt="img" />
                                        <h2>Bazball: The Bold Reinvention of Test Cricket</h2>
                                        <p><i class="fas fa-calendar-alt"></i> Jun 20, 2023 11:12 AM</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-6 mb-4">
                                <div class="search-list">
                                    <a href="#">
                                        <img src="images/newss.png" alt="img" />
                                        <h2>Bazball: The Bold Reinvention of Test Cricket</h2>
                                        <p><i class="fas fa-calendar-alt"></i> Jun 20, 2023 11:12 AM</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-6 mb-4">
                                <div class="search-list">
                                    <a href="#">
                                        <img src="images/newss.png" alt="img" />
                                        <h2>Bazball: The Bold Reinvention of Test Cricket</h2>
                                        <p><i class="fas fa-calendar-alt"></i> Jun 20, 2023 11:12 AM</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal -->
        <footer>
            <div class="cantainer-fluid bg-dark" style="position: relative;">
                <div class="container pt-4 pb-2">
                    <div class="row gx-0">
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="footer-col-1">
                                <img src="images/DarkLogo.png" alt="footerlogo" />
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 col-12">
                            <div class="footer-col-22">
                                <div class="footer-col-2">
                                    <a href="#">About us</a>
                                    <a href="#">Contact Us</a>
                                    <a href="#">Careers</a>
                                    <a href="#">Advertise With Us</a>
                                    <a href="#">Write For Us</a>
                                    <a href="#">Disclaimer</a>
                                </div>
                                <div class="app-container">
                                    <img src="images/appbtn.png" alt="app" />
                                    <img src="images/googlebtn.png" alt="app" />
                                </div>
                            </div>
                        </div>

                        <div class="row pt-3 gx-0" style="border-top: 1px solid rgb(169, 169, 169);">
                            <div class="col-lg-6 col-12"><p class="copy-right">©12thkhiladi 2023. All Rights Reserved</p></div>
                            <div class="col-lg-6 col-12">
                                <div class="tcp"><a class="" href="/terms">Terms &amp; Conditions</a><a class="" href="/privacy">Privacy Policy</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="js/dklight.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>
